.cccc
{
    background-color: rgb(11, 56, 180);
    color: rgb(15, 35, 212);
}
p {
    font-size: 18px;
}
.paragrafo {
    font-size: 16px;
}
.paragrafo1 {
    font-size: 30px;
}
.paragrafo2 {
    font-size: 20px;
}
.imagem{
    width: 20%;
    background-image: linear-gradient(#161af8);
}
.lista {
    display: inline-block;
    margin: 0 16px;  
}