.cabecalho
{
    background-color: rgb(255, 255, 255)
}
h1 {
    text-align: center;
}
h2 {
    background-color: rgb(243, 243, 247);
}
h3{
    padding-left: 10%;
}
.imagem{
    width: 250px;
    background-image: linear-gradient(#f3f3f3);
}
p {
    font-size: 20px
}
.paragrafo1 {
 font-size:30px;
 padding-top: 5%;
}
.paragrafos {
    font-size: 16px;
}
.lista {
    display: inline-block;
    margin: 0 16px
}
footer{
    background-color: rgb(243, 234, 234);
}